.header{
    margin-top: 30px;
    background-color:var(--background-color);
        border-radius: 16px;
    border:1px solid #1C1C21;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 24px 50px;
}
.menu{
    display: flex;
    gap: 16px;
    list-style: none;
}
.menu-item{
    border-radius: 12px;
    padding: 18px 24px;
    background-color:#0F0F0F;
}
.menu .menu-item:first-child a{
    color:#E7BEB1;
}
.menu .menu-item:last-child{
    background-color: #CE7D63;
}
.menu .menu-item:last-child a{
    color:#0F0F0F;
}
.menu-item a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color:#81807E;
}
/* tablet */
@media screen and (min-width:768px) and (max-width:991.98px){
    .header{
        border-radius: 10px;
    }
    .header-container{
        padding: 20px 20px 20px 40px;
    }
    .logo img{
        width: 80px;
    }
    .menu-item{
        display: flex;
        align-items: center;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: #0F0F0F;

    }
    .menu-item a{
        font-size: 5px;
    }
}