.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #0F0F0F;
    margin-top: 20px;
}
.hero-container{
    display: flex;
    gap: 20px;
    align-items: stretch;
}
.hero-left{
    border-radius: 20px;
    background-color: var(--background-color);
    padding: 100px 80px 20px 80px;
    flex: 1;
}
.hero-title{
    color: #F9EFEC;
    line-height: 150%;
    font-weight: 600;
    font-size: 78px;
    display: flex;
    align-items: center;
    gap:20px
}
.hero-cta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.cta-bounder{
    position: relative;
    top:10px;
}
.cta-icon{
    border-radius: 100px;
    background-color: #CE7D63;
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    top:18%;
    left: 19%;
}
.cta-icon img{
position: absolute;
top:14px;
left: 14px;
width: 24px;
height: 24px;
margin: auto;

}
.cta-text{
    font-weight: 500;
    font-size: 24px;
    color: #CE7D63;
    line-height: 150%;
}
.hero-desc{
    color:#676665;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 20px;
    width: 930px;
}


.hero-right{
    border-radius: 14px;
}
.project-action{
    position: absolute;
    top:16px;
right: 4%;

}
.project-image > img{
    width: 100%;
    height: 100%;
}
.project-action__icon{
    border-radius: 100px;
    background-color: #CE7D63;
    width: 88px;
    height: 88px;
    display: inline-block;
    position: absolute;
    top:17px;
    left: 25px;
}
.project-action__icon img{
    position: absolute;
    top:24px;
    left: 23px;
}
.project-image{
    position: relative;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: auto;
}
.project-info{
    background-color: #1f1f1f;
    padding: 30px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-top: -4px;
}
.project-info h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    color: #F9EFEC;
    margin-bottom: 10px;
}
.project-info span{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #B3B3B2;
}
.hero-stats{
    background-color: #0F0F0F;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #1a1a1a;
    padding: 20px;
    gap: 20px;
}
.stat-item{
    width: calc((100% - 20px * 5) / 6);
    border-radius: 14px;
    background-color: #1a1a1a;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.hero-stats .stat-item:last-child{
    display: flex;
    flex-direction: row;
    gap:10px;
    height: 182px;
}
.hero-stats .stat-item:last-child .stat-label{
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    color:#B3B3B2;
}
.stat-label{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B2;

}
.stat-number{
    font-weight: 600;
    line-height: 150%;
    font-size: 60px;
    color: #DA9E8B;
}
 
@media screen and (min-width:768px) and (max-width:991.98px) {
.hero{
    gap: 10px;
}
    .hero-left{
        padding: 20px;
        width: 62%;
        border-radius: 10px;
    }
    .hero-right{
        border-radius: 7px;
    }
    .hero-title{
        font-size: 23px;
    }
    .cta-bounder img{
        width: 40px;
    }
    .cta-icon {
    
    width: 30px;
    height: 30px;
    position: absolute;
    top: 13%;
    left: 19%;
}
.cta-icon img {
    
    top: 9%;
    left: -18%;
}
.cta-text{
    font-size: 10px;
}
.cta-bounder{
    top:4px;
}
.hero-desc{
font-size: 10px;
width: auto;
}
.marquee{
margin-right: -10px;
margin-left: -10px;
border-radius: 7px;
}
.marquee__item{
    font-size: 10px;
}
.project-action{
    top:3%;
    left: 78%;
}
.project-action > img{
    width: 44px;
}
.project-action__icon {
    border-radius: 100px;
    background-color: #CE7D63;
    width: 45px;
    height: 45px;
    display: inline-block;
    position: absolute;
    top: 3%;
    left: 15%;
}.project-action__icon img{
    width: 20px;
    top:29%;
    left: 28%;
}.project-info h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #F9EFEC;
    margin-bottom: 10px;
}
.project-info span {
    font-size: 12px;
}
.stat-label{
font-size: 5px;
}
.stat-number {
font-size: 25px;
}
.btn-arrow-top-right {
    padding: 5px 9px;
}.hero-stats .stat-item:last-child{
    height: auto;
    padding: 30px 0;
}
.btn-arrow-top-right img {
    width: 10px;
    top:0;
}

.hero-stats .stat-item:last-child .stat-label{
    font-size: 5px;
}
.stat-item{
    padding: 20px 10px;
}
.hero-stats{
    padding: 10px;
    gap: 10px;
}
.stat-item{
    width: calc((100% - 10px * 5) / 6);
}
}