.reason{
    margin-top: 120px;
    border-radius: 24px;
    border: 2px solid #1f1f1f;
    padding: 20px;
    gap:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-grid{
    display: flex;
    gap:20px;
    flex-wrap: wrap;

}
.card{
    border-radius: 14px;
    background-color: var(--background-color);
    width: calc((100% - 20px * 3) / 4);
    padding: 40px;
    gap:40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap:12px;
    flex: 1;
    width: 100%;
}
.card-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    color: var(--primary-color);
    text-transform: uppercase;
    height: 90px;
}
.card-desc{
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B2;
}