.text-side-btn-works{
    font-weight: 500;
    font-size: 20px;
}
.works{
    border-radius: 20px;
    border: 2px solid #1F1F1F;
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.work-list{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.work-info{
    background-color: var(--background-color);
    padding: 60px 40px;
    display: flex;
    gap:40px;
    flex-direction: column;
    border-radius: 14px;
    width: calc((100% - 20px * 2) / 3);
}
.work-info__header{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.work-title-wrap{
    display: flex;
    gap:12px;
    align-items: center;
}
.work-title-wrap-icon{
    border-radius: 12px;
    border: 1px solid #333333;
    padding: 16px;
}
.work-title{
    color: var(--primary-color);
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
}
.btn-arrow-top-right--works{
    background-color: #1f1f1f;
    border: 1px solid #333333;
    padding: 14px 16px;
}
.work-meta {

    display: flex;
    gap:12px;
    flex-direction: column;
}
.work-meta .tag{
    display: inline-flex;
    gap:8px;
    border-radius: 45px;
    background-color: #1F1F1F;
    padding: 10px 16px;
    width: fit-content;
}
.tag span:first-child{
    font-size: 18px;
    font-weight: 400;
    color: #B3B3B2;
}
.tag .dot{
    width: 4px;
    height: 4px;
    color: #CE7D63;
    margin-right: 4px;
}
.tag span:last-child{
    color: #E6E6E6;
    font-size: 18px;
    font-weight: 500;
}
.work-desc{
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    color: #B3B3B2;
}
.work-preview{
    width: calc((100% - 20px * 2) / 3);

}
.work-preview img{
    width: 100%;
    height: 100%;
}
.work-extra{
    width: calc((100% - 20px * 2) / 3);
    display: flex;
    flex-direction: column;
    gap:20px;
}
.work-tech{
border-radius: 14px;
padding: 40px;
display: flex;
gap: 20px;
flex-direction: column;
background-color: var(--background-color);
}
.work-subtitle{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 150%;
}
.tag-list{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    width: 500px;

}
.tag-list .tag{
    border-radius: 45px;
    background-color: #1F1F1F;
    padding: 10px 16px;
    color: #E6E6E6;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.work-team{
    display: flex;
    background-color: var(--background-color);
    border-radius: 14px;
    padding: 20px 40px;
    gap:40px;
    align-items: center;
    justify-content: space-between;
}
.work-subtitle{
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}
.avatar-list{
    display: flex;
    align-items: center;
    gap:10px;
}
.btn-works{
    border-radius: 12px;
    padding: 20px 26px;
    background-color: #CE7D63;
    color: #0f0f0f;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    outline: none;
    border: none;
}